In [ ]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [3]:
for x in mylist:
    print(x)

1
2
3
4
5
6
7
8
9
10

In [4]:
for x in mylist:
    print('x')

x
x
x
x
x
x
x
x
x
x

In [7]:
for x in mylist:
    # check for even
    if x % 2 ==0:
        print(x)
    else:
        print(f'Odd number: {x}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [10]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [11]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [12]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [13]:
#iterate print through every letter in string
#short notate for loop
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [14]:
#print x for every letter in string
for _ in 'Hello World':
    print('x')

x
x
x
x
x
x
x
x
x
x
x

In [15]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [16]:
len(mylist)

4

In [17]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [18]:
#tuple unpacking
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [19]:
#reorganize structure of tuples

mylist = [(1,2,3),(4,5,6),(7,8,9)]

for a,b,c in mylist:
    print(b)

2
5
8

In [20]:
#iterate through dictionary

d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [21]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [22]:
for key,value in d.items():
    print(value)

1
2
3

In [23]:
for value in d.values():
    print(value)

1
2
3

In [26]:
x = 0

while x <5:
    print(f'The current value of x is {x}')
    #x = x + 1 is same as below
    x += 1
else:
    print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [27]:
x = [1,2,3]

for item in x:
    pass

In [28]:
mystring = 'Sammy'

In [29]:
for letter in mystring:
    print(letter)

S
a
m
m
y

In [30]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [31]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [2]:
x = 0

while x<5:
    if x ==2:
        break
    print(x)
    x +=1

0
1

In [3]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [4]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [5]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [6]:
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [8]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [9]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [10]:
for num,letter in zip(mylist1,mylist2):
    print(num)
    print(letter)

1
a
2
b
3
c

In [11]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [12]:
'x' in [1,2,3]

False

In [13]:
'x' in ['x','y','z']

True

In [14]:
'a' in 'a world'

True

In [15]:
from random import shuffle

In [16]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [17]:
random_list = shuffle(mylist)

In [18]:
mylist

[3, 2, 8, 5, 1, 10, 7, 4, 9, 6]

In [19]:
random_list = shuffle(mylist)

In [20]:
mylist

[6, 7, 9, 10, 3, 1, 2, 8, 5, 4]

In [21]:
from random import randint

In [22]:
randint(0,100)

20

In [23]:
randint(0,100)

26

In [1]:
result = input('Enter a numbere here: ')

Enter a numbere here: 50

In [3]:
#inputs are always strings
result

'50'

In [4]:
#You would need to cast it as an integer or any other type()
int(result)

50

In [5]:
mystring = 'hello'

In [6]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [7]:
mylist

['h', 'e', 'l', 'l', 'o']

In [8]:
#more efficient way to do this

mylist = [letter for letter in mystring]

In [9]:
mylist

['h', 'e', 'l', 'l', 'o']

In [10]:
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [11]:
mylist = [num for num in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
#you can perform your operation on the first element in the list comprehension
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
#square only even numbers
mylist = [x**2 for x in range(0,11) if x%2==0]
mylist

[0, 4, 16, 36, 64, 100]

In [16]:
celcius = [0,10,20,34.5]
farenheit = [((9/5)*temp+32) for temp in celcius]

farenheit

[32.0, 50.0, 68.0, 94.1]

In [18]:
#slick one liner for if else statement
#this doesn't make you a good programmer
#you want readability and reproducibility as most important

results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [20]:
#nested loops in list comprehensions
#original nested for loops
mylist = []
for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)
        
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [21]:
#list comprehension
mylist = [x*y for x in[2,4,6] for y in [1,10,100]]
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [54]:
# ASSESSMENT TEST

st = 'Print only the words that start with s in this sentence'

for word in st.split():
    if word[0]=='s' or word[0]=='S':
        print(word)

start
s
sentence

In [30]:
for num in range(0,11):
    if num%2==0:
        print(num)

0
2
4
6
8
10

In [32]:
mylist = [x for x in range(0,51) if x%3==0]
mylist

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [59]:
st = 'Print every word in this sentence that has an even number of letters'

for word in st.split():
    if len(word)%2==0:
        print(word)

word
in
this
sentence
that
an
even
number
of

In [62]:
for num in range(1,101):
    if num%3==0 and num%5==0:
        print('FizzBuzz')
    elif num%3==0:
        print('Fizz')
    elif num%5==0:
        print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [65]:
st = 'Create a list of the first letters of every word in this string'

mylist = [word[0] for word in st.split()]
mylist

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [66]:
#METHOD AND FUNCTIONS

mylist = [1,2,3]
mylist.append(4)

In [67]:
mylist

[1, 2, 3, 4]

In [68]:
mylist.pop()

4

In [69]:
mylist

[1, 2, 3]

In [73]:
mylist.insert(0,0)

In [74]:
mylist

[0, 1, 2, 3]

In [75]:
mylist.remove(0)

In [76]:
mylist

[1, 2, 3]

In [85]:
def Hello():
    #Use triple quotes to add in a docstring which gives info about a function
    '''
    DOCSTRING: Information about the function
    INPUT: no input
    OUTPUT: Hello World
    '''
    return('Hello World')

In [86]:
Hello()

'Hello World'

In [92]:
def say_hello(name='NAME'):
    return('Hello '+name)

In [93]:
say_hello()

'Hello NAME'

In [91]:
say_hello('David')

Hello David

In [94]:
def add(n1,n2):
    return n1+n2

In [95]:
result = add(20,30)

In [96]:
result

50

In [97]:
# Find out if the word "dog" is in a string

In [101]:
def dog_check(mystring):
    if 'dog' in mystring.lower(): 
        #use .lower() to search for upper and lower case letters in a string
        return True
    else:
        return False

In [99]:
dog_check('My dog ran away')

True

In [100]:
dog_check('My cat ran away')

False

In [102]:
'dog' in 'dog ran away'

True

In [106]:
# A pro would say this
def dog_check(mystring):
    return 'dog' in mystring.lower()
            #above is already a boolean, no need for if statement

In [108]:
dog_check('hot dog hot diggity dog')

True

In [111]:
def pig_latin(word):
    first_letter = word[0]
        
    if first_letter in 'aeiou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
    
    return pig_word

In [113]:
pig_latin('word')

'ordway'

In [114]:
pig_latin('apple')

'appleay'

In [ ]:
# *args = arguments **kwargs = keyword arguments

In [118]:
def myfunc(a,b):
    # returns 5% of the sum of a and b
    return sum((a,b))*0.05

In [119]:
myfunc(20,40)

3.0

In [120]:
#pass in as many arguments as you want as tuples by adding an asterisk before your nomenclature.
# always use args as a best practice naming convention
def myfun(*args):
    return sum(args) * 0.05

In [121]:
myfun(10,20,30,40)

5.0

In [122]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [124]:
myfunc(fruit='apple',veggie = 'lettuce')

My fruit of choice is apple

In [126]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [128]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [139]:
def myfunc(*args):
    return [n for n in args if n%2==0]

In [141]:
myfunc(2,4,5,3,4,2)

[2, 4, 4, 2]

In [2]:
def myfunc(string):
    chars = []
    for index, char in enumerate(string):
        if index%2==0:
            chars.append(char.lower())
        else:
            chars.append(char.upper())
    return "".join(chars)

In [3]:
myfunc('What the fuck is this shit?')

'wHaT ThE FuCk iS ThIs sHiT?'

In [7]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a < b:
            result = a
        else:
            result = b
    else:
        if a>b:
            result = a
        else:
            result = b
            
    return result

In [10]:
lesser_of_two_evens(6,7)

7

In [11]:
#here's another more efficient way to run this code

def less_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        result = min(a,b)
    else:
        result = max(a,b)
    
    return result

In [12]:
less_of_two_evens(5,7)

7

In [13]:
#even better, return directly when condition is met

def less_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [14]:
less_of_two_evens(9,4)

9

In [29]:
def myfunc(text):
    wordlist = text.lower().split()
     
    return wordlist[0][0] == wordlist[1][0]

In [30]:
myfunc('Levelheaded Llama')

True

In [47]:
def myfunc(a,b):
    if a+b ==20:
        return True
    elif a ==20:
        return True
    elif b ==20:
        return True
    else:
        return False

In [44]:
myfunc(20,1)

True

In [45]:
myfunc(10,10)

True

In [48]:
myfunc(9,10)

False

In [49]:
#More efficient way
def myfunc(a,b):
    return (a+b)==20 or a==20 or b==20

In [50]:
myfunc(9,10)

False

In [17]:
#Capitalize 1st and 4th letter of a name
def OM(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourt_letter = name[3]
    rest = name[4:]
    return first_letter.upper() + inbetween + fourt_letter.upper() + rest

In [18]:
OM('humam')

'HumAm'

In [20]:
#Using Capitalize method
def OM(name):
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [21]:
OM('humam')

'HumAm'

In [25]:
#Reverse a string of text
def yoda(text):
    wordlist = text.split()
    reverseword = wordlist[::-1]
    return ' '.join(reverseword)

In [27]:
yoda('Reverse this sentence')

'sentence this Reverse'

In [28]:
#Given n, return True if n is within 10 of 100 or 200
def almost_there(n):
    return (abs(100-n)<=10) or (abs(200-n)<=10)

In [29]:
almost_there(190)

True

In [30]:
almost_there(180)

False

In [31]:
#Given a list of ints, return True if array contains a 3 next to a 3 anywhere

def has_33(nums):
    
    #for every index from 0 to the second to last in nums
    for i in range(0,len(nums)-1): 
        #Check if the number is 3 and the number one index higher is 3
        if nums[i] == 3 and nums [i+1] == 3:
            return True
        
    return False

In [34]:
has_33([1,3,3])

True

In [39]:
#Given a string, return a string where every character in original is x3

def paper_doll(text):
    result = ''
    
    for char in text:
        result += char*3
    return result

In [40]:
paper_doll('Hello')

'HHHeeellllllooo'

In [41]:
#Blackjack: If sum of 3 ints is <=21 return sum
#If sum exceeds 21, but contains 11, reduce sum by 10
#if sum after adjustment exceeds 21, return Bust
def BJ(a,b,c):
    
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])-10 <= 21:
        return sum([a,b,c])
    else:
        return 'Bust'

In [43]:
BJ(11,2,3)

16

In [49]:
#Return sum of numbers in array
#except ignore sections starting with 6 ending in 9
#return 0 for no numbers

def s_69(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num!=6:
                total +=num
                break
            else:
                add = False
        while not add:
            if num !=9:
                break
            else:
                add = True
                break
    return total

In [50]:
s_69([1,3,5])

9

In [51]:
s_69([4,5,6,7,8,9])

9

In [52]:
s_69([2,1,6,9,11])

14

In [9]:
#Returns True if 007 is in integer order in list

def spygame(nums):
    
    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)
    
    return len(code) == 1

In [10]:
spygame([1,0,1,0,7])

True

In [11]:
#return the number of prime numbers that exist up to and including a given num

def count_primes(num):
    
    #check for 0 or 1 input
    if num < 2:
        return 0
    
    # 2 or greater
    
    # store our prime numbers
    primes = [2]
    # counter going up to input num
    x = 3
    
    # x is going through every number up to input num
    while x <= num:
        #check if x is prime
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    
    print(primes)
    return len(primes)

In [13]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [14]:
#LAMBDA EXPRESSIONS, MAP, and FILTER

In [15]:
#USING MAP

def square(num):
    return num**2

In [16]:
my_nums = [1,2,3,4,5]

In [20]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [21]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [22]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [23]:
names = ['Andy', 'Eve', 'Sally']

In [24]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [25]:
#USING FILTER

def check_even(num):
    return num%2 == 0

In [26]:
mynums = [1,2,3,4,5,6]

In [27]:
list(filter(check_even,mynums))

[2, 4, 6]

In [28]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [29]:
#LAMBDA

def square(num):
    result = num**2
    return result

In [30]:
square(3)

9

In [31]:
square = lambda num: num**2

In [32]:
square(3)

9

In [33]:
list(map(lambda num:num**2, mynums))

[1, 4, 9, 16, 25, 36]

In [34]:
list(filter(lambda num: num%2 == 0, mynums))

[2, 4, 6]

In [35]:
names

['Andy', 'Eve', 'Sally']

In [37]:
list(map(lambda name: name[0], names))

['A', 'E', 'S']

In [38]:
#Nested Statements and Scope

x = 25

def printer():
    x = 50
    return x

In [39]:
print(x)

25

In [40]:
print(printer())

50

In [42]:
#LEGB
#Local, Enclosing function locals, Global, Built-In

#LOCAL
#lambda num:num**2

name = 'This is a Global string'

def greet():
    
    name = 'This is an enclosing function local'
    
    def hello():
        print('This is a local '+name)
        
    hello()
    
greet()

This is a local This is an enclosing function local

In [43]:
x = 50

def func(x):
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT
    x = 200
    print(f'I just locally changed X to {x}')

In [44]:
func(x)

X is 50
I just locally changed X to 200

In [45]:
print(x)

50

In [50]:
# to change a name at the global level

x = 50

def func():
    global x
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT ON A GLOBAL VARIABLE
    x = 'NEW VALUE'
    print(f'I just locally changed GLOBAL X to {x}')

In [51]:
func()

X is 50
I just locally changed GLOBAL X to NEW VALUE

In [52]:
print(x)

NEW VALUE

In [53]:
# Using global is dangerous and makes it difficult to debug
# A better option would be to:

x = 50

def func(x):
    #Get rid of Global
    print(f'X is {x}')
    
    x = 'NEW VALUE'
    print(f'I just locally changed GLOBAL X to {x}')
    #Add a return of the variable you changed
    return x

In [54]:
x

50

In [55]:
func(x)

X is 50
I just locally changed GLOBAL X to NEW VALUE

'NEW VALUE'

In [57]:
#REASSIGN HERE
x = func(x)

X is 50
I just locally changed GLOBAL X to NEW VALUE

In [58]:
# Compute volume of a sphere given its radius

def Vol(rad):
    if rad >= 0:
        return (((4*3.14)/3)*(rad**3))
    else:
        return "Can't compute"

In [60]:
Vol(6)

904.3199999999999

In [61]:
Vol(-2)

"Can't compute"